[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
"github3.py" = "*"
cachecontrol = "*"
lockfile = "*"
tabulate = "*"

[dev-packages]
"e1839a8" = {path = ".", editable = true}
python-dotenv = "*"

[requires]
python_version = "3.6"
