[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygithub = "*"
requests = "*"
click = "*"
tqdm = "*"

[dev-packages]
"e1839a8" = {path = ".", editable = true}
python-dotenv = "*"

[requires]
python_version = "3.6"
